// 转换出有效期
function transferValidDate(item,type) {
    console.log('transferValidDate');
    // console.log('item:', JSON.stringify(item));
    // 2.处理周卡
    if (type === '周卡') {
        var activationDate = item.activationDate;
        var activationYear = activationDate.split('.')[0];
        var activationMonth = activationDate.split('.')[1];
        var activationDay = activationDate.split('.')[2];
        var activationTime = getDate(activationYear+'-'+activationMonth+'-'+activationDay).getTime();
        var remainingDays = item.remainingDays;
        var validTime = activationTime + (remainingDays-1) * 24 * 60 * 60 * 1000;
        var validDate = getDate(validTime);
        var validYear = validDate.getFullYear();
        var validMonth = validDate.getMonth() + 1;
        var validDay = validDate.getDate();
        // console.log(validYear + '/' + validMonth + '/' + validDay)
        return validYear + '.' + validMonth + '.' + validDay;
    } else {
        // 3.处理月卡
        var activationDate = item.activationDate;
        var activationYear = activationDate.split('.')[0];
        var activationMonth = activationDate.split('.')[1];
        var activationDay = activationDate.split('.')[2];
        var activationTime = getDate(activationYear+'-'+activationMonth+'-'+activationDay).getTime();
        var pauseStart = item.pauseStart;
        var pauseEnd = item.pauseEnd;
        var remainingDays = item.remainingDays;
        if (pauseStart === "") {
            // 3.1没有暂停
            var validTime = activationTime + (remainingDays-2) * 24 * 60 * 60 * 1000;
            var validDate = getDate(validTime);
            var validYear = validDate.getFullYear();
            var validMonth = validDate.getMonth() + 1;
            var validDay = validDate.getDate();
            // console.log(validYear + '/' + validMonth + '/' + validDay )
            return validYear + '.' + validMonth + '.' + validDay;
        } else {
            // 3.2有暂停
            var pauseStartYear = pauseStart.split('.')[0];
            var pauseStartMonth = pauseStart.split('.')[1];
            var pauseStartDay = pauseStart.split('.')[2];
            // console.log('pauseStartYear:', pauseStartYear);
            // console.log('pauseStartMonth:', pauseStartMonth);
            // console.log('pauseStartDay:', pauseStartDay);
            var pauseStartTime = getDate(pauseStartYear+'-'+pauseStartMonth+'-'+pauseStartDay).getTime();
            var pauseEndYear = pauseEnd.split('.')[0];
            var pauseEndMonth = pauseEnd.split('.')[1];
            var pauseEndDay = pauseEnd.split('.')[2];
            // console.log('pauseEndYear:', pauseEndYear);
            // console.log('pauseEndMonth:', pauseEndMonth);
            // console.log('pauseEndDay:', pauseEndDay);
            var pauseEndTime = getDate(pauseEndYear+'-'+pauseEndMonth+'-'+pauseEndDay).getTime();
            // console.log('pauseStartTime:', pauseStartTime);
            // console.log('pauseEndTime:', pauseEndTime);
            var addDays = ((pauseEndTime - pauseStartTime) / (1000 * 60 * 60 * 24));
            // console.log(pauseEndTime - pauseStartTime);
            // console.log('addDays:', addDays);
            var validTime = activationTime + ((remainingDays -1 + addDays) * (24 * 60 * 60 * 1000));
            // console.log('validTime:', validTime);
            var validDate = getDate(validTime);
            var validYear = validDate.getFullYear();
            var validMonth = validDate.getMonth() + 1;
            var validDay = validDate.getDate();
            // console.log('validYear:', validYear);
            // console.log('validMonth:', validMonth);
            // console.log('validDay:', validDay);
            console.log(validYear + '/' + validMonth + '/' + validDay)
            return validYear + '.' + validMonth + '.' + validDay;
        }
    }
}

module.exports = {
    transferValidDate: transferValidDate
}